*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: aqua;
    color: black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    top: 23%;
    border-radius: 5%;
    left: 37%;
    box-shadow: 0px 0px 4px 0.4px black;
    height: 450px;
    width: 500px;
}
.city-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.city-search input{
    margin-bottom: 20px;
    width: 80%;
    background-color: rgb(8, 142, 142);
    border: none;
    outline: none;
    color: #582233;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
}
.weather-city{
    text-align: center;
    font-size: 60px;
    margin-top: 45px;
}
.weather-degree{
    font-size: 40px;
    margin-top: 30px;
}

.min-max{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.min{
    font-size: 20px;
}

.max{
    font-size: 20px;
}

.error{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}